<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- table:sys_manager date:2017-03-28 15:23:21 comment:管理员表 -->
<!-- namespace必须指向com.yourcompany.db.mapper包下的Mapper接口 -->
<mapper namespace="com.yourcompany.db.mapper.ManagerMapper">
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">sys_manager.m_id as id,sys_manager.m_name as name,sys_manager.m_nickname as nickname,sys_manager.m_loginname as loginname,sys_manager.m_password as password,sys_manager.m_salt as salt,sys_manager.m_create_date as createDate,sys_manager.m_update_date as updateDate,sys_manager.m_is_delete as isDelete,sys_manager.m_status as status,sys_manager.m_su_admin as suAdmin </sql>
	
	
</mapper> 
