<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- table:sys_permissions_resources date:2017-03-28 15:23:21 comment:权限资源表 -->
<!-- namespace必须指向com.yourcompany.db.mapper包下的Mapper接口 -->
<mapper namespace="com.yourcompany.db.mapper.PermissionsResourcesMapper">
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">sys_permissions_resources.pr_id as id,sys_permissions_resources.res_id as id,sys_permissions_resources.perm_id as id </sql>
	
	
</mapper> 
