<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- table:sys_permissions date:2017-03-28 15:23:21 comment:权限表 -->
<!-- namespace必须指向com.yourcompany.db.mapper包下的Mapper接口 -->
<mapper namespace="com.yourcompany.db.mapper.PermissionsMapper">
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">sys_permissions.perm_id as id,sys_permissions.perm_create_date as createDate,sys_permissions.perm_update_date as updateDate,sys_permissions.perm_is_delete as isDelete,sys_permissions.perm_name as name,sys_permissions.perm_value as value,sys_permissions.perm_remark as remark </sql>
	
	
</mapper> 
