<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- table:sys_roles_permissions date:2017-03-28 15:23:21 comment:角色权限表 -->
<!-- namespace必须指向com.yourcompany.db.mapper包下的Mapper接口 -->
<mapper namespace="com.yourcompany.db.mapper.RolesPermissionsMapper">
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">sys_roles_permissions.rp_id as id,sys_roles_permissions.r_id as id,sys_roles_permissions.perm_id as id </sql>
	
	
</mapper> 
