<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- table:sys_roles date:2017-03-28 15:23:21 comment:角色表 -->
<!-- namespace必须指向com.yourcompany.db.mapper包下的Mapper接口 -->
<mapper namespace="com.yourcompany.db.mapper.RolesMapper">
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">sys_roles.r_id as id,sys_roles.r_create_date as createDate,sys_roles.r_update_date as updateDate,sys_roles.r_is_delete as isDelete,sys_roles.r_name as name,sys_roles.r_remark as remark </sql>
	
	
</mapper> 
